$header-color: #5e2e5a;
$footer-color: #72446e;
$header-color-active: #9e4c9c;
$background-color: #1f1f1f;
$border-color: #ffffff;
$button-primary: #62ec2c;
$button-primary-disabled: #aeb6ab;
$text-color: #1f1f1f;
$text-color-secondary: #dddddd;
$warning-color: #d83b3b;
$transition-all: 0.2s all ease-in;
$card-color-light: #333333;
$card-color-dark: #000000;
$modal-overlay: rgba(0, 0, 0, 0.7);
$modal-background: #1a1a1a;
$modal-title: #ff5733;
$modal-text: #ffffff;
