@import '../../styles/variables';

.desc {
  background-color: #ffffff;
  padding: 1rem;

  .title {
    margin-bottom: 0.8rem;
    display: inline-block;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  .subtitle {
    font-size: 1rem;
  }

  .divider {
    margin: 0.5rem 0;
    width: 100%;
    border: 1px solid $background-color;
  }
}
