@import '../../styles/variables';

.article {
  position: relative;
  max-width: 300px;
  border: 1px solid $border-color;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: $transition-all;

  &:hover,
  &:focus {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(255, 255, 255, 0.1) 50%,
      transparent 100%
    );
    transform: scale(1.02);
  }

  .name {
    padding-left: 10px;
    font-family: 'Orbitron';
    color: $button-primary;
    height: 3rem;
    display: flex;
    align-items: center;
  }
}
