@import '../../styles/variables';

.wrapper {
  margin: 1rem;
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1rem;

  .form {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.4rem;

    .legend {
      padding: 0 5px;
      font-size: 1.1rem;
    }
  }
}
