.footer {
  padding: 5px 1rem;
  display: flex;
  gap: 1rem;
  align-items: center;

  .info {
    width: 20%;
    height: 25px;
    display: flex;
    align-items: center;
    gap: 0.5rem;

    img {
      height: 100%;
      cursor: pointer;
    }
  }

  .date {
    flex-grow: 1;
    text-align: right;
  }
}
