@import '../../../styles/variables';

.label {
  position: relative;

  .input {
    width: 100%;
    font-size: 1.5rem;
    padding: 2px 10px 2px 40px;
    border-radius: 1.5rem;
    background-color: transparent;
    border-color: $border-color;
    outline: none;

    &:focus {
      box-shadow: 0 0 2px $border-color;
    }
  }

  &::after {
    content: '';
    position: absolute;
    display: block;
    top: 2px;
    left: 0.5rem;
    width: 30px;
    height: 30px;
    background: url('../../../assets/icons/search.svg') center/1.5rem no-repeat;
  }
}
